<p>Dear <%= @comment.thread.commontable.user.name || @comment.thread.commontable.user.email %>,</p>
<!-- Profile Image of the seller -->
<%= email_image_tag("#{@comment.thread.commontable.user.asset(:small)}") %>
<!-- Profile Image of the commentor -->
<%= email_image_tag("#{@creator.asset(:small)}") %>
<h4><%= t('commontator.email.comment_created.body',
          :creator_name => @creator.name || @creator.email,
          :commontable_name => @commontable_name) %></h4>

<%= render :partial => 'commontator/comments/body',
           :locals => { :comment => @comment } %>

<p><%= t('commontator.email.thread_link_html',
         :comment_url => @comment_url,
         :commontable_name => @commontable_name) %></p>
