<div class="">
  <div class="col-md-6">
    <div class="devise content">
      <h1 class="header-adjust">Create your economy here.</h1>
      <%=image_tag 'transaction.png', width: "45", class: "pull-left", style: "margin: 20px 15px 20px 0;"%>
      <p class="pull-left"><span class="bold">Safely transact</span> in wholesale volume </p>
      <span class="clearfix"></span>
      <%=image_tag 'notifications.png', width: "45", class: "pull-left", style: "margin: 20px 15px 20px 0;" %>
      <p class="pull-left"><span class="bold">Receive updates</span> on what you buy and sell</p>
      <span class="clearfix"></span>
      <%=image_tag 'verify.png', width: "45", class: "pull-left", style: "margin: 20px 15px 20px 0;" %>
      <p class="pull-left"><span class="bold">Real time verification</span> and same day pay outs</p>
      <span class="clearfix"></span>
      <%=image_tag 'catalogueicon.png', width: "45", class: "pull-left", style: "margin: 20px 15px 20px 0;" %>
      <p class="pull-left"><span class="bold">Upload your entire catalogue</span> in minutes</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="wrap devise">
      <h1 class="header-adjust mobile">Create your economy here.</h1>
      <h2 class="header-adjust">Sign up now- it’s free.</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.hidden_field :terms_accepted_at, :value=> Time.now %></div>
        <br>
        <div><%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %></div>
        <br>

        <div><%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %></div>
        <br>

        <div>
          <label><%= f.label :tag_list, value: 'I buy and sell' %></label>
          <%= f.select :tag_list, options_from_collection_for_select(get_all_tags, :name, :name, f.object.tag_list), {}, multiple: true, data: { behavior: 'Select', options: '{"plugins":["remove_button"],"create":"true"}' } %>
        </div>
        <br>

        <div><%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></div>
        <br>

        <div class="terms_of_service">
          <%= f.check_box :terms_of_service %> By clicking Sign up, you agree to our <a href="../terms_of_service" target="_blank">Terms of Service</a> and that you have read our Data Policy, including our Cookie Use. You may receive Notifications from Toadlane and can opt out at any time.
        </div>
        <br>

        <div class="btn-signup"><%= f.submit "Sign up", class: 'btn btn-primary' %></div><div class="btn-signin">Already have an account? <%=link_to 'Sign in' , new_user_session_path %></div>
      <% end %>

      <br>
    </div>
	<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 0pt; margin-right: 11pt; margin-top: 12pt;">
<span style="background-color: transparent; color: #4f81bd; font-family: Calibri; font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">The Wholesale Industry</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">If you're involved in the world of wholesale buying or selling, there's a good chance you are well aware that the industry is a mess.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Not only is there no universal payment method that's accepted industrywide, but there are also several other common problems that buyers, distributors and all sellers face.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">First, buyers face high startup costs, which can make it extremely difficult for them to source and afford new suppliers. Also, buyers can encounter suppliers promising goods they don't have, and sellers may also deal with customers who promise payments that they ultimately can't make. Next, paying with credit cards is extremely high risk for buyers due to chargebacks for high-volume transactions -- and to top it off, scammers are rampant throughout the industry.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Due to this slew of challenges, buyers, distributors and sellers in the wholesale industry have been looking for better business solutions for decades, hoping to find a platform that can make the transaction easier, smoother and more stress-free.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Enter: Toadlane.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 0pt; margin-right: 11pt; margin-top: 12pt;">
<span style="background-color: transparent; color: #4f81bd; font-family: Calibri; font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Toadlane as a Solution for Wholesale Buyers and Sellers</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Toadlane is an online community for wholesale industry professionals, where buyers and sellers can find one another, make safe transactions, and ensure the process and products meet everyone's expectations.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">When you use Toadlane, you can expect:</span></div>
<div dir="ltr" style="line-height: 1.4400000000000002; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">The lowest fees online for processing wholesale payments safely.</span></div>
<div dir="ltr" style="line-height: 1.4400000000000002; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">An easy purchase order tracking system.</span></div>
<div dir="ltr" style="line-height: 1.4400000000000002; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Reliable inspectors.</span></div>
<div dir="ltr" style="line-height: 1.4400000000000002; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">The ability to give or receive volume-based discounts.</span></div>
<div dir="ltr" style="line-height: 1.4400000000000002; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Communication racking.</span></div>
<div dir="ltr" style="line-height: 1.4400000000000002; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Easy and fast fund disbursement.</span></div>
<div dir="ltr" style="line-height: 1.4400000000000002; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Secure and trustworthy party verification.</span></div>
<div dir="ltr" style="line-height: 1.4400000000000002; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">And much, much more.</span></div>
<div dir="ltr" style="line-height: 1.38; margin-bottom: 0pt; margin-right: 11pt; margin-top: 4pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;"> </span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 0pt; margin-right: 11pt; margin-top: 22pt;">
<span style="background-color: transparent; color: #345a8a; font-family: Calibri; font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">About Us</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Toadlane is a company dedicated to creating an amazing customer experience for both buyers and sellers across the wholesale industry, worldwide. We have released a brand-new, trademarked and patent pending software solution that facilitates the distributor's process of selling wholesale goods -- which makes both the sale easier for suppliers and the purchasing process easier for buyers.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">The inspiration for Toadlane originally came to John Ballantine, our CEO, co-patent author and founder, in a vision. He realized that the wholesale industry is currently a mess, but it doesn't have to be.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Our company strives to make wholesale better to ensure the success of our buyers, distributors and sellers. We do this by providing standardized, patented wholesale purchasing methods. We also offer a constantly evolving rankup algorithm feed, which tracks several variables and allows users to make better, smarter, and safer buying and selling decisions.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">In addition, we have an extremely generous affiliate program. This program allows distributors to grow their business by comfortably introducing us to wholesalers they know and trust.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Distributors are encouraged to do this because they know they can earn residual back-end commissions.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 0pt; margin-right: 11pt; margin-top: 4pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;"> </span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 0pt; margin-right: 11pt; margin-top: 22pt;">
<span style="background-color: transparent; color: #345a8a; font-family: Calibri; font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">How It Works</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">To use Toadlane, you must first sign up for the site. Make sure you include everything you buy and sell so we know what notifications to send you.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Wait for a registration confirmation email in your inbox, it is strongly suggested you get your account verified by submitting your business information in your </span><a href="https://www.toadlane.com/dashboard/accounts" style="text-decoration: none;"><span style="-webkit-text-decoration-skip: none; background-color: transparent; color: #4f81bd; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration-skip-ink: none; text-decoration: underline; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">accounts</span></a><span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">section (we use blockchain encryption to protect your information) then you're ready to start taking advantage of the features that Toadlane offers.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 0pt; margin-right: 11pt; margin-top: 12pt;">
<span style="background-color: transparent; color: #4f81bd; font-family: Calibri; font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">For Sellers</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Get your </span><a href="https://www.toadlane.com/dashboard/accounts" style="text-decoration: none;"><span style="-webkit-text-decoration-skip: none; background-color: transparent; color: #4f81bd; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration-skip-ink: none; text-decoration: underline; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">account</span></a><span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;"> verified leveraging our blockchain encryption.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Sellers on Toadlane come from a wide range of backgrounds. They can be manufacturers, distributors, agents, liquidators, globally recognized depots and more.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">List your items for sale. Make sure to use our user generated product tags.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Wait for an order from buyers, then meet the buyer's terms (or await inspection).</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Once terms have been met, payment will be released -- and you can deliver the ordered items to the buyer.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 0pt; margin-right: 11pt; margin-top: 12pt;">
<span style="background-color: transparent; color: #4f81bd; font-family: Calibri; font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">For Buyers</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Get your </span><a href="https://www.toadlane.com/dashboard/accounts" style="text-decoration: none;"><span style="-webkit-text-decoration-skip: none; background-color: transparent; color: #4f81bd; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration-skip-ink: none; text-decoration: underline; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">account</span></a><span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;"> verified leveraging our blockchain encryption so you are able to order.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 1pt; margin-right: 11pt; margin-top: 5pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Search for the goods you want to purchase, then choose the way you want to buy : Fly &amp; Buy or Same Day Pay. Toadlane recommends that buyers use Fly &amp; Buy for larger transactions, while Same Day Pay is a good choice for smaller purchases that do not require travel but still need a level of safety and verification.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 0pt; margin-right: 11pt; margin-top: 12pt;">
<span style="background-color: transparent; color: #4f81bd; font-family: Calibri; font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">For Fly &amp; Buy</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">§ If you choose the Fly &amp; Buy option, place your order, then send the money to pay for your purchase into escrow.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">§ Choose whether or not you want to send a verified Toadlane inspector to the supplier. We highly suggest sending a trained inspector to ensure the product meets your standards in real time.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">§ If you do want an inspection, allow time for the supplier to inspect the goods or warehouse. After a successful inspection, your funds will be released from escrow and given to the supplier. The supplier will then ship your goods.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">§ Watch for RFID inventory tracking, movement and other important data about your order.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Toadlane reserves the right to fulfill, refund, or reject any order placed on the site if a tracking number is not sent within THREE days of the funds received in escrow.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 0pt; margin-right: 11pt; margin-top: 12pt;">
<span style="background-color: transparent; color: #4f81bd; font-family: Calibri; font-size: 18pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">For Same Day Pay</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">§ The buyer chooses the items they want, then sets the terms of what they need completed in order to have their funds released.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">§ Put your funds in escrow, and wait for the supplier to meet your terms. Refunds are free and automated if the buyer is not satisfied with the terms.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">§ Once the terms are met, the buyer will release the payment.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">§ Buyers receive goods and are happy, and distributors/suppliers receive wire payment and are happy as well.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Toadlane has the right to fulfill, refund, or reject any order placed on the site if a tracking number is not placed within THREE days of the funds received in escrow.</span></div>
<div dir="ltr" style="line-height: 2.0463157894736845; margin-bottom: 7pt; margin-right: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Questions? </span><a href="http://hello@toadlane.com/" style="text-decoration: none;"><span style="-webkit-text-decoration-skip: none; background-color: transparent; color: #1155cc; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration-skip-ink: none; text-decoration: underline; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Email us</span></a></div>
<div dir="ltr" style="line-height: 0.5684210526315789; margin-bottom: 0pt; margin-right: 11pt; margin-top: 4pt;">
<a href="http://hello@toadlane.com/" style="text-decoration: none;"><span style="-webkit-text-decoration-skip: none; background-color: transparent; color: #1155cc; font-family: Arial; font-size: 13.5pt; font-style: normal; font-variant: normal; font-weight: 700; text-decoration-skip-ink: none; text-decoration: underline; vertical-align: baseline; white-space: pre-wrap; white-space: pre;"><img height="8" src="https://lh6.googleusercontent.com/NYHze6qJF-fjxSicbQMM6iYVd0v5Ydco5EhFOOBCATVwI_Uz4jWEjb-WjucMurSUYOuEvcfW6S6tnTi7gtQyF5OFPVyAVCZA-6XC7i2Aa057VDn2ezBz-ylWgrVSpD_Do46hLdcB" style="-webkit-transform: rotate(0.00rad); border: none; transform: rotate(0.00rad);" width="20" /></span></a></div>
<div dir="ltr" style="line-height: 1.38; margin-bottom: 11pt; margin-top: 11pt;">
<span style="background-color: transparent; color: black; font-family: Arial; font-size: 9.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Attachments area</span></div>
<span id="docs-internal-guid-f7af3a83-2e22-19c2-ae67-2fdd0866370e"></span><br />
<div dir="ltr" style="line-height: 1.38; margin-bottom: 11pt; margin-top: 11pt;">
<a href="https://www.youtube.com/watch?v=B7NTi8KD27E&amp;t=5s&amp;authuser=0" style="text-decoration: none;"><span style="-webkit-text-decoration-skip: none; background-color: white; color: #222222; font-family: Arial; font-size: 9.5pt; font-style: normal; font-variant: normal; font-weight: 400; text-decoration-skip-ink: none; text-decoration: underline; vertical-align: baseline; white-space: pre-wrap; white-space: pre;">Preview YouTube video Buying and Selling wholesale with Toadlane</span></a></div>

  </div>
</div>
