<div class="">
  <div class="col-md-6">
    <div class="devise content">
      <h1 class="header-adjust">Create your economy here.</h1>
      <%=image_tag 'transaction.png', width: "45", class: "pull-left", style: "margin: 20px 15px 20px 0;"%>
      <p class="pull-left"><span class="bold">Safely transact</span> in wholesale volume </p>
      <span class="clearfix"></span>
      <%=image_tag 'notifications.png', width: "45", class: "pull-left", style: "margin: 20px 15px 20px 0;" %>
      <p class="pull-left"><span class="bold">Receive updates</span> on what you buy and sell</p>
      <span class="clearfix"></span>
      <%=image_tag 'verify.png', width: "45", class: "pull-left", style: "margin: 20px 15px 20px 0;" %>
      <p class="pull-left"><span class="bold">Real time verification</span> and same day pay outs</p>
      <span class="clearfix"></span>
      <%=image_tag 'catalogueicon.png', width: "45", class: "pull-left", style: "margin: 20px 15px 20px 0;" %>
      <p class="pull-left"><span class="bold">Upload your entire catalogue</span> in minutes</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="wrap devise">
      <h1 class="header-adjust mobile">Create your economy here.</h1>
      <h2 class="header-adjust">Sign up now- it’s free.</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.hidden_field :terms_accepted_at, :value=> Time.now %></div>
        <br>
        <div><%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %></div>
        <br>

        <div><%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %></div>
        <br>

        <div>
          <label><%= f.label :tag_list, value: 'I buy and sell' %></label>
          <%= f.select :tag_list, options_from_collection_for_select(get_all_tags, :name, :name, f.object.tag_list), {}, multiple: true, data: { behavior: 'Select', options: '{"plugins":["remove_button"],"create":"true"}' } %>
        </div>
        <br>

        <div><%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></div>
        <br>

        <div class="terms_of_service">
          <%= f.check_box :terms_of_service %> By clicking Sign up, you agree to our <a href="../terms_of_service" target="_blank">Terms of Service</a> and that you have read our Data Policy, including our Cookie Use. You may receive Notifications from Toadlane and can opt out at any time.
        </div>
        <br>

        <div class="btn-signup"><%= f.submit "Sign up", class: 'btn btn-primary' %></div><div class="btn-signin">Already have an account? <%=link_to 'Sign in' , new_user_session_path %></div>
      <% end %>

      <br>
    </div>
  </div>
  <div class="col-md-12">
  <div class="devise content">
<p><strong>The Wholesale Industry</strong></p>
<p><span style="font-weight: 400;">If you're involved in the world of wholesale buying or selling, there's a good chance you are well aware that the industry is a mess.</span></p>
<p><span style="font-weight: 400;">Not only is there no universal payment method that's accepted industrywide, but there are also several other common problems that buyers, distributors and all sellers face.</span></p>
<p><span style="font-weight: 400;">First, buyers face high startup costs, which can make it extremely difficult for them to source and afford new suppliers. Also, buyers can encounter suppliers promising goods they don't have, and sellers may also deal with customers who promise payments that they ultimately can't make. Next, paying with credit cards is extremely high risk for buyers due to chargebacks for high-volume transactions -- and to top it off, scammers are rampant throughout the industry.</span></p>
<p><span style="font-weight: 400;">Due to this slew of challenges, buyers, distributors and sellers in the wholesale industry have been looking for better business solutions for decades, hoping to find a platform that can make the transaction easier, smoother and more stress-free.</span></p>
<p><span style="font-weight: 400;">Enter: Toadlane.</span></p>
<p><strong>Toadlane as a Solution for Wholesale Buyers and Sellers</strong></p>
<p><span style="font-weight: 400;">Toadlane is an online community for wholesale industry professionals, where buyers and sellers can find one another, make safe transactions, and ensure the process and products meet everyone's expectations.</span></p>
<p><span style="font-weight: 400;">When you use Toadlane, you can expect:</span></p>
<p><span style="font-weight: 400;">The lowest fees online for processing wholesale payments safely.</span></p>
<p><span style="font-weight: 400;">An easy purchase order tracking system.</span></p>
<p><span style="font-weight: 400;">Reliable inspectors.</span></p>
<p><span style="font-weight: 400;">The ability to give or receive volume-based discounts.</span></p>
<p><span style="font-weight: 400;">Communication racking.</span></p>
<p><span style="font-weight: 400;">Easy and fast fund disbursement.</span></p>
<p><span style="font-weight: 400;">Secure and trustworthy party verification.</span></p>
<p><span style="font-weight: 400;">And much, much more.</span></p>
<p><strong>About Us</strong></p>
<p><span style="font-weight: 400;">Toadlane is a company dedicated to creating an amazing customer experience for both buyers and sellers across the wholesale industry, worldwide. We have released a brand-new, trademarked and patent pending software solution that facilitates the distributor's process of selling wholesale goods -- which makes both the sale easier for suppliers and the purchasing process easier for buyers.</span></p>
<p><span style="font-weight: 400;">The inspiration for Toadlane originally came to John Ballantine, our CEO, co-patent author and founder, in a vision. He realized that the wholesale industry is currently a mess, but it doesn't have to be.</span></p>
<p><span style="font-weight: 400;">Our company strives to make wholesale better to ensure the success of our buyers, distributors and sellers. We do this by providing standardized, patented wholesale purchasing methods. We also offer a constantly evolving rankup algorithm feed, which tracks several variables and allows users to make better, smarter, and safer buying and selling decisions.</span></p>
<p><span style="font-weight: 400;">In addition, we have an extremely generous affiliate program. This program allows distributors to grow their business by comfortably introducing us to wholesalers they know and trust.</span></p>
<p><span style="font-weight: 400;">Distributors are encouraged to do this because they know they can earn residual back-end commissions.</span></p>
<p><strong>How It Works</strong></p>
<p><span style="font-weight: 400;">To use Toadlane, you must first sign up for the site. Make sure you include everything you buy and sell so we know what notifications to send you.</span></p>
<p><span style="font-weight: 400;">Wait for a registration confirmation email in your inbox, it is strongly suggested you get your account verified by submitting your business information in your </span><a href="https://www.toadlane.com/dashboard/accounts"><span style="font-weight: 400;">accounts</span></a><span style="font-weight: 400;">section (we use blockchain encryption to protect your information) then you're ready to start taking advantage of the features that Toadlane offers.</span></p>
<p><strong>For Sellers</strong></p>
<p><span style="font-weight: 400;">Get your </span><a href="https://www.toadlane.com/dashboard/accounts"><span style="font-weight: 400;">account</span></a><span style="font-weight: 400;"> verified leveraging our blockchain encryption.</span></p>
<p><span style="font-weight: 400;">Sellers on Toadlane come from a wide range of backgrounds. They can be manufacturers, distributors, agents, liquidators, globally recognized depots and more.</span></p>
<p><span style="font-weight: 400;">List your items for sale. Make sure to use our user generated product tags.</span></p>
<p><span style="font-weight: 400;">Wait for an order from buyers, then meet the buyer's terms (or await inspection).</span></p>
<p><span style="font-weight: 400;">Once terms have been met, payment will be released -- and you can deliver the ordered items to the buyer.</span></p>
<p><strong>For Buyers</strong></p>
<p><span style="font-weight: 400;">Get your </span><a href="https://www.toadlane.com/dashboard/accounts"><span style="font-weight: 400;">account</span></a><span style="font-weight: 400;"> verified leveraging our blockchain encryption so you are able to order.</span></p>
<p><span style="font-weight: 400;">Search for the goods you want to purchase, then choose the way you want to buy : Fly &amp; Buy or Same Day Pay. Toadlane recommends that buyers use Fly &amp; Buy for larger transactions, while Same Day Pay is a good choice for smaller purchases that do not require travel but still need a level of safety and verification.</span></p>
<p><strong>For Fly &amp; Buy</strong></p>
<ul>
<li><span style="font-weight: 400;"> If you choose the Fly &amp; Buy option, place your order, then send the money to pay for your purchase into escrow.</span></li>
<li><span style="font-weight: 400;"> Choose whether or not you want to send a verified Toadlane inspector to the supplier. We highly suggest sending a trained inspector to ensure the product meets your standards in real time.</span></li>
<li><span style="font-weight: 400;"> If you do want an inspection, allow time for the supplier to inspect the goods or warehouse. After a successful inspection, your funds will be released from escrow and given to the supplier. The supplier will then ship your goods.</span></li>
<li><span style="font-weight: 400;"> Watch for RFID inventory tracking, movement and other important data about your order.</span></li>
</ul>
<p><strong>Toadlane reserves the right to fulfill, refund, or reject any order placed on the site if a tracking number is not sent within THREE days of the funds received in escrow.</strong></p>
<p><strong>For Same Day Pay</strong></p>
<ul>
<li><span style="font-weight: 400;"> The buyer chooses the items they want, then sets the terms of what they need completed in order to have their funds released.</span></li>
<li><span style="font-weight: 400;"> Put your funds in escrow, and wait for the supplier to meet your terms. Refunds are free and automated if the buyer is not satisfied with the terms.</span></li>
<li><span style="font-weight: 400;"> Once the terms are met, the buyer will release the payment.</span></li>
<li><span style="font-weight: 400;"> Buyers receive goods and are happy, and distributors/suppliers receive wire payment and are happy as well.</span></li>
</ul>
<p><strong>Toadlane has the right to fulfill, refund, or reject any order placed on the site if a tracking number is not placed within THREE days of the funds received in escrow.</strong></p>
<p><strong>Questions? </strong><a href="http://hello@toadlane.com/"><strong>Email us</strong></a></p>
<p><span style="font-weight: 400;">Attachments area</span></p>
<p><a href="https://www.youtube.com/watch?v=B7NTi8KD27E&amp;t=5s&amp;authuser=0"><span style="font-weight: 400;">Preview YouTube video Buying and Selling wholesale with Toadlane</span></a></p>
<p><br /><br /></p>
</div>
</div>
</div>
</div>
