<div class="wrap devise">
  <h2>The next generation of high volume distribution.</h2>

  <h4>Sign up now- it’s free</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.hidden_field :terms_accepted_at, :value=> Time.now %></div>
    <br>
    <div><%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %></div>
    <br>

    <div><%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %></div>
    <br>

    <div>
      <label><%= f.label :tag_list, value: 'I buy and sell' %></label>
      <%= f.select :tag_list, options_from_collection_for_select(get_all_tags, :name, :name, f.object.tag_list), {}, multiple: true, data: { behavior: 'Select', options: '{"plugins":["remove_button"],"create":"true"}' } %>
    </div>
    <br>

    <div><%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></div>
    <br>

    <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %></div>

    <div class="terms_of_service">
      <%= f.check_box :terms_of_service, required: true %> I agree to the <a href="../terms_of_service" target="_blank">Terms of Service</a>
    </div>
    <br>

    <div class="btn-signup"><%= f.submit "Sign up", class: 'btn btn-primary' %></div><div class="btn-signin">Already have an account? <%=link_to 'Sign in' , new_user_session_path %></div>
  <% end %>

  <br>
</div>
