<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Business Name: <%= @user.company %></p>
    <p>Phone Number: <%= @user.phone %></p>
    <p>State: <%= @user.state %></p>
    <p>Desired Loan Amount: <%= @loan_amount %></p>
    <p>Time In Business: <%= @business_years %></p>
    <p>Monthly Revenue: <%= @monthly_revenue %></p>
    <p>Loan ID: 20150814-21:42</p>
  </body>
</html>